server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/springdemo?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8}
    username: ${SPRING_DATASOURCE_USERNAME:spring}
    password: ${SPRING_DATASOURCE_PASSWORD:spring123}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  thymeleaf:
    cache: false

logging:
  level:
    org.hibernate.SQL: debug
